// Buttons

@import "variables.less";

.button (@bg, @bottom, @text) {
	display: inline-block;
	padding: 5px;
	background: @bg;
	border-radius: 5px;
	border-bottom: 2px solid @bottom;
	cursor: pointer;
	color:@text;
}

.bn {
	display: inline-block;
	padding: 5px;
	background: @grey;
	border-radius: 5px;
	border-bottom: 2px solid @dark-grey;
	cursor: pointer;
	&.big {
		padding: 5px 10px !important;
	}
	&.red {
		.button(@red, @dark-red, white);
	}
	&.blue {
		.button(@blue, @dark-blue, white);
	}
	&.green {
		.button(@green, @dark-green, white);
	}
	&.yellow {
		.button(@yellow, @dark-yellow, black);
	}
	&.aqua {
		.button(@aqua, @dark-aqua, white);
	}
	&.orange {
		.button(@orange, @dark-orange, white);
	}
	&.purple {
		.button(@purple, @dark-purple, white);
	}
	&.dark {
		.button(@really-dark-blue, @very-dark-blue, white);
	}
}