// Buttons

@import "variables.less";

.bn {
	display: inline-block;
	padding: 5px;
	background: @grey;
	border-radius: 5px;
	border-bottom: 2px solid @dark-grey;
	cursor: pointer;
	&.big {
		padding: 0 10px !important;
	}
	&.red {
		display: inline-block;
		padding: 5px;
		background: @red;
		border-radius: 5px;
		border-bottom: 2px solid @dark-red;
		cursor: pointer;
		color:white;
	}
	&.blue {
		display: inline-block;
		padding: 5px;
		background: @blue;
		border-radius: 5px;
		border-bottom: 2px solid @dark-blue;
		cursor: pointer;
		color:white;
	}
	&.green {
		display: inline-block;
		padding: 5px;
		background: @green;
		border-radius: 5px;
		border-bottom: 2px solid @dark-green;
		cursor: pointer;
		color:white;
	}
	&.yellow {
		display: inline-block;
		padding: 5px;
		background: @yellow;
		border-radius: 5px;
		border-bottom: 2px solid @dark-yellow;
		cursor: pointer;
		color:black;
	}
	&.aqua {
		display: inline-block;
		padding: 5px;
		background: @aqua;
		border-radius: 5px;
		border-bottom: 2px solid @dark-aqua;
		cursor: pointer;
		color:white;
	}
	&.orange {
		display: inline-block;
		padding: 5px;
		background: @orange;
		border-radius: 5px;
		border-bottom: 2px solid @dark-orange;
		cursor: pointer;
		color:white;
	}
	&.purple {
		display: inline-block;
		padding: 5px;
		background: @purple;
		border-radius: 5px;
		border-bottom: 2px solid @dark-purple;
		cursor: pointer;
		color:white;
	}
	&.dark {
		display: inline-block;
		padding: 5px;
		background: @really-dark-blue;
		border-radius: 5px;
		border-bottom: 2px solid @very-dark-blue;
		cursor: pointer;
		color:white;
	}
}