// Buttons

@import "variables.less";

.button (@bg, @bottom, @text) {
	display: inline-block;
	padding: 5px;
	background: @bg;
	border-radius: 5px;
	border-bottom: 2px solid @bottom;
	cursor: pointer;
	color:@text;
}

.buttonhvr (@bg, @bottom, @text) {
	background: darken(@bg, 5%);
	border-bottom: 2px solid darken(@bottom, 5%);
}

.buttonatv (@bg, @bottom, @text) {
	background:darken(@bg, 5%);
	border-bottom:1px solid darken(@bottom, 5%);
	position:relative;
	top:0.35px;
}

.bn {
	display: inline-block;
	padding: 5px;
	background: @grey;
	border-radius: 5px;
	border-bottom: 2px solid @dark-grey;
	cursor: pointer;
	&.big {
		padding: 10px 10px !important;
	}
	&.small {
		padding:3px;
		font-size:10px;
	}
	&.red {
		.button(@red, @dark-red, white);
	}
	&.red:hover {
		.buttonhvr (@red, @dark-red, white);
	}
	&.red:active {
		.buttonatv (@red, @dark-red, white);
	}
	&.blue {
		.button(@blue, @dark-blue, white);
	}
	&.blue:hover {
		.buttonhvr (@blue, @dark-blue, white);
	}
	&.blue:active {
		.buttonatv (@blue, @dark-blue, white);
	}
	&.green {
		.button(@green, @dark-green, white);
	}
	&.green:hover {
		.buttonhvr (@green, @dark-green, white);
	}
	&.green:active {
		.buttonatv (@green, @dark-green, white);
	}
	&.yellow {
		.button(@yellow, @dark-yellow, black);
	}
	&.yellow:hover {
		.buttonhvr (@yellow, @dark-yellow, black);
	}
	&.yellow:active {
		.buttonatv (@yellow, @dark-yellow, black);
	}
	&.aqua {
		.button(@aqua, @dark-aqua, white);
	}
	&.aqua:hover {
		.buttonhvr (@aqua, @dark-aqua, white);
	}
	&.aqua:active {
		.buttonatv (@aqua, @dark-aqua, white);
	}
	&.orange {
		.button(@orange, @dark-orange, white);
	}
	&.orange:hover {
		.buttonhvr (@orange, @dark-orange, white);
	}
	&.orange:active {
		.buttonatv (@orange, @dark-orange, white);
	}
	&.purple {
		.button(@purple, @dark-purple, white);
	}
	&.purple:hover {
		.buttonhvr (@purple, @dark-purple, white);
	}
	&.purple:active {
		.buttonatv (@purple, @dark-purple, white);
	}
	&.dark {
		.button(@really-dark-blue, @very-dark-blue, white);
	}
	&.dark:hover {
		.buttonhvr (@really-dark-blue, @very-dark-blue, white);
	}
	&.dark:active {
		.buttonatv (@really-dark-blue, @very-dark-blue, white);
	}
}