// Variables

// Color Pallet
@grey: #bdc3c7;
@dark-grey: #95a5a6;
@red: #e74c3c;
@dark-red: #c0392b;
@aqua: #1abc9c;
@dark-aqua: #16a085;
@yellow: #f1c40f;
@dark-yellow:#f39c12;
@orange: #e67e22;
@dark-orange:#d35400;
@blue:#3498db;
@dark-blue:#2980b9;
@green: #2ecc71;
@dark-green: #27ae60;
@purple:#9b59b6;
@dark-purple:#8e44ad;
@light-grey:#ecf0f1;
@really-dark-grey:#7f8c8d;
@really-dark-blue:#34495e;
@very-dark-blue:#2c3e50;

//Mixins

//Transitions
.transition {
transition: background 0.25s,color 0.25s,border 0.25s, position 0.25s;
}

//Buttons
.button (@bg, @bottom, @text) {
	.transition;
	display: inline-block;
	padding: 5px;
	background: @bg;
	border-radius: 5px;
	border-bottom: 2px solid @bottom;
	cursor: pointer;
	color:@text;
}

.buttonhvr (@bg, @bottom, @text) {
	.transition;
	background: darken(@bg, 5%);
	border-bottom: 2px solid darken(@bottom, 5%);
}

.buttonatv (@bg, @bottom, @text) {
	.transition;
	background:darken(@bg, 5%);
	border-bottom:1px solid darken(@bottom, 5%);
	position:relative;
	top:0.5px;
}
//End Buttons

//Labels
.label (@bg, @bottom, @text) {
	.transition;
	display: inline-block;
	padding: 5px;
	background: @bg;
	border-bottom: 2px solid @bottom;
	color:@text;
}


//Gradients

.gradient(@c1, @c2) {
	background: @c2;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@c1', endColorstr='@c2');
	background: -webkit-gradient(linear, left top, left bottom, from(@c1), to(@c2));
	background: -moz-linear-gradient(top,  @c1,  @c2);
	background: -ms-linear-gradient(top,  @c1,  @c2);
	background: -o-linear-gradient(top,  @c1,  @c2);
}


//Nav Elements

.navi (@bg, @btm, @text) {
	.transition;
	margin: -2px;
	background: @bg;
	display: inline-block;
	color: @text;
	padding: 10px;
	border-bottom: 2px solid @btm;
}

.navihvr (@bg) {
		.transition;
		background:darken(@bg, 20%);
}